.footer__column-link {
  text-decoration: none;
  color: white;
  margin: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  transition: opacity 1s ease 0.2s;
}

.footer__column-link:hover {
  opacity: 15%;
  }