.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(feynman.png);
  background-repeat: no-repeat;
  background-position: 0px 250px;
  min-height: 790px;
  padding-top: 80px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: 1;
}