
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  position: relative;
  color:#000000;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  align-self: center;
  margin: 0px 0px 0px 64px;
  position: relative;
  z-index: 1;
}

  .header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: 1;
  margin: 0px 0px;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: #00d9ff;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.header__square-pic {
  background: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
}

.description {
  display: flex;
  color:#000000;
}

.two-columns {
  display: flex;
  width: 80%;
  margin: 100px auto 0px;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin: 0px;
}

.two-columns__main-text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin:0px auto 30px; 
}

.two-columns__span-accent {
  font-weight: bold;
  margin: 30px 0px; 
}

.two-columns :last-child {
  margin-bottom:0px; 
}


.digits {
  display: flex;
  flex-direction: column;
  color:#000000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 100px auto 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  padding: 0%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0px auto 100px;
  list-style: none;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
} 

.table__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
} 

.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: 0px 250px;
  min-height: 790px;
  padding-top: 100px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  z-index: -1;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 3;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  z-index: 2;
}

.feynman__link:hover {
  color: #00d9ff;
}


.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  z-index: -1;
}

.section-title_theme_dark {
  margin-top: 90px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 2;
  margin: 80px 0px 0px;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0px 40px 0px;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px auto;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  display: flex;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.footer__column-heading {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  color: white;
}

.footer__column-links{
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  line-height: 30px;
  font-weight: normal;
  margin: 0px 0px 16px 0px;
  padding: 0px;
  color: white;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  margin: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.footer__column-link:hover {
color: #00d9ff;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

.footer__social-icon {
  width:  16px;
  height: 16px;
  margin-right: 10px;
}